* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/* background: #85bb65; */
	background: #118c4f;
}

.container {
	background: #fff;
	width: 370px;
	padding: 30px;
	border-radius: 10px;
}

.container header {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 500;
}

.container form {
	margin: 40px 0 20px 0;
}

form :where(input, select, button) {
	width: 100%;
	outline: none;
	border: none;
	border-radius: 5px;
}

form p {
	font-size: 18px;
	margin-bottom: 5px;
}

form input {
	height: 50px;
	padding: 0 15px;
	border: 1px solid #999;
	font-size: 17px;
}

form input:focus {
	border: 2px solid #118c4f;
	padding: 0 14px;
}

form .drop-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.drop-list .select-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 115px;
	height: 45px;
	border: 1px solid #999;
	border-radius: 5px;
}

.select-box select {
	width: auto;
	font-size: 16px;
	margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar {
	width: 8px;
}

.select-box select::-webkit-scrollbar-track {
	background: #fff;
}

.select-box select::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 8px;
	border-right: 2px solid #fff;
}

.select-box img {
	max-width: 25px;
}

.drop-list .icon {
	font-size: 22px;
	cursor: pointer;
	margin-top: 30px;
}

form .exchange-rate {
	font-size: 17px;
	margin: 20px 0 30px;
}

form button {
	height: 52px;
	color: #fff;
	background: #118c4f;
	font-size: 17px;
	cursor: pointer;
}
